<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>17商城</title>
<link type="text/css" href="/css/css.css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/js.js"></script>
<script src="/js/wb.js" type="text/javascript" charset="utf-8"></script>
 <script th:inline="javascript">
  var uname = /*[[${session.currUser.uname}]]*/ 'Sebastian';
  $(function () {

   if (uname == "tourist") {
    $("#slogan").html("您好！欢迎来到本网上书城请<a href='/bookstore/login'>[登录]</a> <a href='/bookstore/reg'>[注册]</a>");

   } else {
    var msg = uname + ", 欢迎您来到网上书城！";
    $("#slogan").html(msg + "<a href='/bookstore/logout' id='logout'>退出</a>");
   }
	 $(".vipNav dd:eq(2)").show();
	 })
</script>
</head>

<body>
 <div class="mianCont">
  <div class="top">
   <span>您好！欢迎来到17商城 请&nbsp;<a href="/bookstore/index">[登录]</a>&nbsp;<a href="reg.html">[注册]</a></span>
   <span class="topRight">
    <a href="/bookstore/vip">我的17</a>&nbsp;|
    <a href="/bookstore/order">我的订单</a>&nbsp;|
    <a href="login.html">会员中心</a>&nbsp;|
    <a href="contact.html">联系我们</a>
   </span>
  </div><!--top/-->
  <div class="lsg">
   <h1 class="logo"><a href="index.html"><img src="/images/logo.png" width="217" height="90" /></a></h1>
   <form action="/keyWordSearch" method="get" class="subBox">
    <div class="subBoxDiv">
     <input type="text" name="bname" class="subLeft" />
     <input type="submit" src="/images/subimg.png" width="63" height="34" class="sub" />
     <div class="hotWord">
      热门搜索：
      <a href="proinfo.html">人生</a>&nbsp;
      <a href="proinfo.html">星光的速度</a> &nbsp;
      <a href="proinfo.html">苏东坡词传</a>&nbsp;
      <a href="proinfo.html">三体</a>  &nbsp;
      <a href="proinfo.html">五年高考三年模拟</a>&nbsp;
     </div><!--hotWord/-->
    </div><!--subBoxDiv/-->
   </form><!--subBox/-->
   <div class="gouwuche">
    <div class="gouCar">
     <img src="/images/gouimg.png" width="19" height="20" style="position:relative;top:6px;" />&nbsp;|&nbsp;
     <strong class="red">0</strong>&nbsp;件&nbsp;|
     <strong class="red">￥ 0.00</strong> 
     <a href="order.html">去结算</a> <img src="/images/youjian.jpg" width="5" height="8" />
    </div><!--gouCar/-->
    <div class="myChunlv">
     <a href="vip.html"><img src="/images/mychunlv.jpg" width="112" height="34" /></a>
    </div><!--myChunlv/-->
   </div><!--gouwuche/-->
  </div><!--lsg/-->
  <div class="pnt">
   <div class="pntLeft">
    <h2 class="Title">所有商品分类
     <ul class="InPorNav">
      <li><a href="/TypeSearch?bookType=network">网络文学</a></li>
      <li><a href="/TypeSearch?bookType=edu">教育</a></li>
      <li><a href="/TypeSearch?bookType=novel">小说</a></li>
      <li><a href="/TypeSearch?bookType=social">人文社科</a></li>
    </ul><!--InPorNav/-->
    </h2>
   </div><!--pntLeft/-->
   <div class="pntRight">
    <ul class="nav">
     <li><a href="index.html">商城首页</a></li>
     <li><a href="login.html">会员中心</a></li>
     <li><a href="help.html">帮助中心</a></li>
     <div class="clears"></div>
     <div class="phone">TEL：021-12345678</div>
    </ul><!--nav/-->
   </div><!--pntRight/-->
   <div class="clears"></div>
  </div><!--pnt/-->
  <div class="positions">
   当前位置：<a href="index.html">首页</a> &gt; <a href="vip.html">会员中心</a>
    &gt; <a href="#" class="posCur">我的订单</a>
  </div><!--positions/-->
  <div class="cont">
   <div class="contLeft" id="contLeft">
    <h3 class="leftTitle">会员中心</h3>
    <dl class="helpNav vipNav">
     <dt>我的主页</dt>
      <dd>
       <a href="vip.html">个人中心</a>
       <a href="/bookstore/order">我的订单</a>
      </dd>
     <dt>账户设置</dt>
      <dd>
       <a href="vipMy.html">个人信息</a>
       <a href="vipPwd.html">密码修改</a>
       <a href="vipAdress.html">收货地址</a>
      </dd>
      <dt>客户服务</dt>
       <dd>
        <a href="vipExit.html">网站使用条款</a>
        <a href="vipTuihuo.html">网站免责声明</a>
        <a href="message.html" class="vipCur">在线留言</a>
       </dd>
    </dl><!--helpNav/-->
   </div><!--contLeft/-->
   <div class="contRight">
   <h2 class="oredrName">
    订单详情
   </h2>
   <table class="orderDeatils">
    <tr>
     <th>订单编号</th>
     <td>465489132154416</td>
    </tr>
    <tr>
     <th>商品名称</th>
     <td>妙捷 一次性纸杯</td>
    </tr>
    <tr>
     <th>订单价钱</th>
     <td>￥185.80</td>
    </tr>
    <tr>
     <th>订单信息</th>
     <td> 
张益达，13572607270，， 陕西省 汉中市 勉县 勉县东方眼科医院，724200</td>
    </tr>
    <tr>
     <th>商家</th>
     <td>17商城</td>
    </tr>
    <tr>
     <th>支付方式</th>
     <td>支付宝支付</td>
    </tr>
    <tr>
     <th>支付状态</th>
     <td>成功</td>
    </tr>
   </table> 
   </div><!--contRight/-->
   <div class="clears"></div>
  </div><!--cont/-->
  <div class="inHelp">
   <div class="inHLeft">
    <h4>帮助中心</h4>
    <ul class="inHeList">
     <li><a href="help.html">购物指南</a></li>
     <li><a href="help.html">支付方式</a></li>
     <li><a href="help.html">售后服务</a></li>
     <li><a href="about.html">企业简介</a></li>
     <div class="clears"></div>
    </ul><!--inHeList/-->
   </div><!--inHLeft/-->
   <div class="inHLeft">
    <h4>会员服务</h4>
    <ul class="inHeList">
     <li><a href="reg.html">会员注册</a></li>
     <li><a href="login.html">会员登录</a></li>
     <li><a href="order.html">购物车</a></li>
     <li><a href="order.html">我的订单</a></li>
     <div class="clears"></div>
    </ul><!--inHeList/-->
   </div><!--inHLeft/-->
   <div class="inHRight">
    <h4>全国统一免费服务热线</h4>
    <div class="telBox">400-0000-0000</div>
    <div class="weibo">
    <wb:follow-button uid="2991975565" type="red_1" width="67" height="24" ></wb:follow-button>
    </div>
   </div><!--inHRight/-->
   <div class="clears"></div>
  </div><!--inHelp/-->
  <div class="footer">
   <p>
   <a href="#">进入17官网</a>&nbsp;|&nbsp;
   <a href="index.html">商城首页</a>&nbsp;|&nbsp;
   <a href="product.html">促销中心</a>&nbsp;|&nbsp;
   <a href="order.html">我的订单</a>&nbsp;|&nbsp;
   <a href="new.html">新闻动态</a>&nbsp;|&nbsp;
   <a href="login.html">会员中心</a>&nbsp;|&nbsp;
   <a href="help.htmll">帮助中心</a>
   </p>
   <p>
    版权所有：上海17实业有限公司 版权所有  Copyright 2010-2015   沪ICP备00000000号   <a href="http://www.mycodes.net/" target="_blank">源码之家</a>   
   </p>
  </div><!--footer/-->
 </div><!--mianCont/-->
 <a href="#" class="backTop">&nbsp;</a>
</body>
<script>
 function n(n,e,t){

  return n.getAttribute(e)||t

 }

 function e(n){

  return document.getElementsByTagName(n)

 }

 function t(){

  var t=e("script"),o=t.length,i=t[o-1];

  return{

   l:o,z:n(i,"zIndex",-1),o:n(i,"opacity",.5),c:n(i,"color","0,0,0"),n:n(i,"count",99)

  }

 }

 function o(){

  a=m.width=window.innerWidth||document.documentElement.clientWidth||document.body.clientWidth,

          c=m.height=window.innerHeight||document.documentElement.clientHeight||document.body.clientHeight

 }

 function i(){

  r.clearRect(0,0,a,c);

  var n,e,t,o,m,l;

  s.forEach(function(i,x){

   for(i.x+=i.xa,i.y+=i.ya,i.xa*=i.x>a||i.x<0?-1:1,i.ya*=i.y>c||i.y<0?-1:1,r.fillRect(i.x-.5,i.y-.5,1,1),e=x+1;e<u.length;e++)n=u[e],

   null!==n.x&&null!==n.y&&(o=i.x-n.x,m=i.y-n.y,

           l=o*o+m*m,l<n.max&&(n===y&&l>=n.max/2&&(i.x-=.03*o,i.y-=.03*m),

           t=(n.max-l)/n.max,r.beginPath(),r.lineWidth=t/2,r.strokeStyle="rgba("+d.c+","+(t+.2)+")",r.moveTo(i.x,i.y),r.lineTo(n.x,n.y),r.stroke()))

  }),

          x(i)

 }

 var a,c,u,m=document.createElement("canvas"),

         d=t(),l="c_n"+d.l,r=m.getContext("2d"),

         x=window.requestAnimationFrame||window.webkitRequestAnimationFrame||window.mozRequestAnimationFrame||window.oRequestAnimationFrame||window.msRequestAnimationFrame||

                 function(n){

                  window.setTimeout(n,1e3/45)

                 },

         w=Math.random,y={x:null,y:null,max:2e4};m.id=l,m.style.cssText="position:fixed;top:0;left:0;z-index:"+d.z+";opacity:"+d.o,e("body")[0].appendChild(m),o(),window.onresize=o,

         window.onmousemove=function(n){

          n=n||window.event,y.x=n.clientX,y.y=n.clientY

         },

         window.onmouseout=function(){

          y.x=null,y.y=null

         };

 for(var s=[],f=0;d.n>f;f++){

  var h=w()*a,g=w()*c,v=2*w()-1,p=2*w()-1;s.push({x:h,y:g,xa:v,ya:p,max:6e3})

 }

 u=s.concat([y]),

         setTimeout(function(){i()},100)

</script>
</html>