<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>17商城</title>
<link type="text/css" href="/css/css.css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/js.js"></script>
<script src="/js/wb.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
 <div class="mianCont">
  <div class="top">
   <span>您好！欢迎来到17商城 请&nbsp;<a href="login.html">[登录]</a>&nbsp;<a href="reg.html">[注册]</a></span>
   <span class="topRight">
    <a href="vip.html">我的17</a>&nbsp;| 
    <a href="order.html">我的订单</a>&nbsp;| 
    <a href="login.html">会员中心</a>&nbsp;|
    <a href="contact.html">联系我们</a>
   </span>
  </div><!--top/-->
  <div class="lsg">
   <h1 class="logo"><a href="index.html"><img src="/images/logo.png" width="217" height="90" /></a></h1>
   <form action="#" method="get" class="subBox">
    <div class="subBoxDiv">
     <input type="text" class="subLeft" />
     <input type="image" src="/images/subimg.png" width="63" height="34" class="sub" />
     <div class="hotWord">
      热门搜索：
      <a href="proinfo.html">冷饮杯</a>&nbsp;
      <a href="proinfo.html">热饮杯</a> &nbsp;
      <a href="proinfo.html">纸杯</a>&nbsp;
      <a href="proinfo.html">纸巾</a>  &nbsp;
      <a href="proinfo.html">纸巾</a> &nbsp;
      <a href="proinfo.html">纸杯</a>&nbsp;
     </div><!--hotWord/-->
    </div><!--subBoxDiv/-->
   </form><!--subBox/-->
   <div class="gouwuche">
    <div class="gouCar">
     <img src="/images/gouimg.png" width="19" height="20" style="position:relative;top:6px;" />&nbsp;|&nbsp;
     <strong class="red">0</strong>&nbsp;件&nbsp;|
     <strong class="red">￥ 0.00</strong> 
     <a href="order.html">去结算</a> <img src="/images/youjian.jpg" width="5" height="8" />
    </div><!--gouCar/-->
    <div class="myChunlv">
     <a href="vip.html"><img src="/images/mychunlv.jpg" width="112" height="34" /></a>
    </div><!--myChunlv/-->
   </div><!--gouwuche/-->
  </div><!--lsg/-->
  <div class="pnt">
   <div class="pntLeft">
    <h2 class="Title">所有商品分类
     <ul class="InPorNav">
      <li><a href="product.html">网络文学</a>
       <div class="chilInPorNav">
        <a href="#">玄幻奇幻</a>
        <a href="#">现代都市</a>
        <a href="#">武侠仙侠</a>
       </div><!--chilLeftNav/-->
      </li>
      <li><a href="product.html">教育</a>
       <div class="chilInPorNav">
        <a href="#">教材</a>
        <a href="#">考试</a>
        <a href="#">外语</a>
       </div><!--chilLeftNav/-->
      </li>
      <li><a href="product.html">小说</a>
       <div class="chilInPorNav">
        <a href="#">当代小说</a>
        <a href="#">近代小说</a>
        <a href="#">古典小说</a>
       </div><!--chilLeftNav/-->
      </li>
      <li><a href="product.html">人文社科</a>
       <div class="chilInPorNav">
        <a href="#">历史</a>
        <a href="#">文化</a>
        <a href="#">古籍</a>

       </div><!--chilLeftNav/-->
      </li>
    </ul><!--InPorNav/-->
    </h2>
   </div><!--pntLeft/-->
   <div class="pntRight">
    <ul class="nav">
     <li><a href="index.html">商城首页</a></li>
     <li class="navCur"><a href="product.html">促销中心</a></li>
     <li><a href="login.html">会员中心</a></li>
     <li><a href="help.html">帮助中心</a></li>
     <div class="clears"></div>
     <div class="phone">TEL：021-12345678</div>
    </ul><!--nav/-->
   </div><!--pntRight/-->
   <div class="clears"></div>
  </div><!--pnt/-->
  <div class="positions">
   当前位置：<a href="index.html">首页</a> &gt; <a href="#" class="posCur">促销商品</a>
  </div><!--positions/-->
  <div class="cont">
  <div class="jilu">
    总计 <span>8</span> 个记录
   </div><!--jilu/-->
   <div class="contLeft">
    <ul class="leftPorNav">
     <li><a href="product.html">网络文学</a>
      <div class="chilInPorNav">
       <a href="#">玄幻奇幻</a>
       <a href="#">现代都市</a>
       <a href="#">武侠仙侠</a>
      </div><!--chilLeftNav/-->
     </li>
     <li><a href="product.html">教育</a>
      <div class="chilInPorNav">
       <a href="#">教材</a>
       <a href="#">考试</a>
       <a href="#">外语</a>
      </div><!--chilLeftNav/-->
     </li>
     <li><a href="product.html">小说</a>
      <div class="chilInPorNav">
       <a href="#">当代小说</a>
       <a href="#">近代小说</a>
       <a href="#">古典小说</a>
      </div><!--chilLeftNav/-->
     </li>
     <li><a href="product.html">人文社科</a>
      <div class="chilInPorNav">
       <a href="#">历史</a>
       <a href="#">文化</a>
       <a href="#">古籍</a>

      </div><!--chilLeftNav/-->
     </li>
    </ul><!--InPorNav/-->
   </div><!--contLeft/-->
   <div class="contRight">
    <div class="frProList">
      <dl>
      <dt><a href="proinfo.html"><img src="/images/rdPro1.jpg" width="132" height="129" /></a></dt>
      <dd>人生（茅盾文学奖得主路遥代表作，全新精装版）</dd>
      <dd class="cheng">￥25.80 <span>￥45.00</span></dd>
     </dl>
     <dl>
      <dt><a href="proinfo.html"><img src="/images/rdPro2.jpg" width="132" height="129" /></a></dt>
      <dd>明朝那些事儿全集 增补版（新版全套9册）</dd>
      <dd class="cheng">￥278.20<span>定价¥297.00</span></dd>
     </dl>
     <dl>
      <dt><a href="proinfo.html"><img src="/images/rdPro3.jpg" width="132" height="129" /></a></dt>
      <dd>万历十五年 一本好书 腾讯视频栏目推荐</dd>
      <dd class="cheng">￥15.30 <span>¥26.00</span></dd>
     </dl>
     <dl>
      <dt><a href="proinfo.html"><img src="/images/rdPro4.jpg" width="132" height="129" /></a></dt>
      <dd>林语堂传记典藏版套盒（苏东坡传+武则天传全2册）</dd>
      <dd class="cheng">￥63.00 <span>￥126.00</span></dd>
     </dl>
     <dl>
      <dt><a href="proinfo.html"><img src="/images/rdPro5.jpg" width="132" height="129" /></a></dt>
      <dd>星光的速度（精装大开本，写给小朋友的天文物理书）</dd>
      <dd class="cheng">￥69.00 <span>￥138.00</span></dd>
     </dl>
     <dl>
      <dt><a href="proinfo.html"><img src="/images/rdPro6.jpg" width="132" height="129" /></a></dt>
      <dd>天才在左 疯子在右(2018全新完整版)</dd>
      <dd class="cheng">￥46.60 <span>￥49.80</span></dd>
     </dl>
     <dl>
      <dt><a href="proinfo.html"><img src="/images/rdPro7.jpg" width="132" height="129" /></a></dt>
      <dd>自控力（畅销300万册纪念版！）</dd>
      <dd class="cheng">￥42.10 <span>￥45.00</span></dd>
     </dl>
     <dl>
       <dt><a href="proinfo.html"><img src="/images/rdPro8.jpg" width="132" height="129" /></a></dt>
       <dd>人间词话（近代极富盛名的词话著作！）</dd>
       <dd class="cheng">￥11.90 <span>￥29.80</span></dd>
      </dl>
      <div class="clears"></div>
     </div><!--frProList-->
   </div><!--contRight/-->
   <div class="clears"></div>
  </div><!--cont/-->
  <div class="inHelp">
   <div class="inHLeft">
    <h4>帮助中心</h4>
    <ul class="inHeList">
     <li><a href="help.html">购物指南</a></li>
     <li><a href="help.html">支付方式</a></li>
     <li><a href="help.html">售后服务</a></li>
     <li><a href="about.html">企业简介</a></li>
     <div class="clears"></div>
    </ul><!--inHeList/-->
   </div><!--inHLeft/-->
   <div class="inHLeft">
    <h4>会员服务</h4>
    <ul class="inHeList">
     <li><a href="reg.html">会员注册</a></li>
     <li><a href="login.html">会员登录</a></li>
     <li><a href="order.html">购物车</a></li>
     <li><a href="order.html">我的订单</a></li>
     <div class="clears"></div>
    </ul><!--inHeList/-->
   </div><!--inHLeft/-->
   <div class="inHRight">
    <h4>全国统一免费服务热线</h4>
    <div class="telBox">400-0000-0000</div>
    <div class="weibo">
    <wb:follow-button uid="2991975565" type="red_1" width="67" height="24" ></wb:follow-button>
    </div>
   </div><!--inHRight/-->
   <div class="clears"></div>
  </div><!--inHelp/-->
  <div class="footer">
   <p>
   <a href="#">进入17官网</a>&nbsp;|&nbsp;
   <a href="index.html">商城首页</a>&nbsp;|&nbsp;
   <a href="product.html">促销中心</a>&nbsp;|&nbsp;
   <a href="order.html">我的订单</a>&nbsp;|&nbsp;
   <a href="new.html">新闻动态</a>&nbsp;|&nbsp;
   <a href="login.html">会员中心</a>&nbsp;|&nbsp;
   <a href="help.htmll">帮助中心</a>
   </p>
   <p>
    版权所有：上海17实业有限公司 版权所有  Copyright 2010-2015   沪ICP备00000000号   <a href="http://www.mycodes.net/" target="_blank">源码之家</a>   
   </p>
  </div><!--footer/-->
 </div><!--mianCont/-->
 <a href="#" class="backTop">&nbsp;</a>
</body>
</html>
