<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>17商城</title>
    <link type="text/css" href="/layui/css/layui.css" rel="stylesheet"/>
    <link type="text/css" href="/css/css.css" rel="stylesheet"/>
    <link type="text/css" href="/css/star.css" rel="stylesheet"/>
    <link type="text/css" href="/css/main.css" rel="stylesheet"/>
    <link type="text/css" href="/css/sinaFaceAndEffec.css" rel="stylesheet"/>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/js.js"></script>
    <script src="/js/base.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/main.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/sinaFaceAndEffec.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/MagicZoom.js" type="text/javascript"></script>
    <script src="/layui/layui.js" type="text/javascript"></script>
    <script th:inline="javascript">
        var uname = /*[[${session.currUser.uname}]]*/ 'Sebastian';
        $(function () {
            $(document).ready(function () {
                $('#input-3').rating({});
            });

            if (uname == "tourist") {
                $("#slogan").html("您好！欢迎来到本网上书城请<a href='/bookstore/login'>[登录]</a> <a href='/bookstore/reg'>[注册]</a>");
            } else {
                var msg = uname + ", 欢迎您来到网上书城！";
                $("#slogan").html(msg + "<a onclick='logout()' id='logout'>退出</a>");
            }

            /////star

            //  星星数量
            var stars = [
                ['x2.png', 'x1.png', 'x1.png', 'x1.png', 'x1.png'],
                ['x2.png', 'x2.png', 'x1.png', 'x1.png', 'x1.png'],
                ['x2.png', 'x2.png', 'x2.png', 'x1.png', 'x1.png'],
                ['x2.png', 'x2.png', 'x2.png', 'x2.png', 'x1.png'],
                ['x2.png', 'x2.png', 'x2.png', 'x2.png', 'x2.png'],
            ];
            $(".block li").find("img").hover(function (e) {
                var obj = $(this);
                var index = obj.index();
                if (index < (parseInt($(".block li").attr("data-default-index")) - 1)) {
                    return;
                }
                var li = obj.closest("li");
                var star_area_index = li.index();
                for (var i = 0; i < 5; i++) {
                    li.find("img").eq(i).attr("src", "img/" + stars[index][i]);//切换每个星星
                }
                $(".level").html(byIndexLeve(index));
            }, function () {
            })

            $(".block li").hover(function (e) {
            }, function () {
                var index = $(this).attr("data-default-index");//点击后的索引
                index = parseInt(index);
                console.log("index", index);
                $(".level").html(byIndexLeve(index - 1));
                console.log(byIndexLeve(index - 1));
                $(".order-evaluation ul li:eq(0)").find("img").attr("src", "img/x1.png");
                for (var i = 0; i < index; i++) {

                    $(".order-evaluation ul li:eq(0)").find("img").eq(i).attr("src", "img/x2.png");
                }
            });
            $(".block li").find("img").click(function () {
                var obj = $(this);
                var li = obj.closest("li");
                var star_area_index = li.index();
                var index1 = obj.index();
                li.attr("data-default-index", (parseInt(index1) + 1));
                var index = $(".block li").attr("data-default-index");//点击后的索引
                index = parseInt(index);
                console.log("index", index);
                $(".level").html(byIndexLeve(index - 1));
                console.log(byIndexLeve(index - 1));
                $(".order-evaluation ul li:eq(0)").find("img").attr("src", "img/x1.png");
                for (var i = 0; i < index; i++) {
                    $(".order-evaluation ul li:eq(0)").find("img").eq(i).attr("src", "img/x2.png");
                }


            });
            $("#order_evaluation").click(function () {
                $("#order_evaluate_modal").html("感谢您的评价！么么哒(* ￣3)(ε￣ *)").show().delay(3000).hide(500);
            });

            /////star over


        });

        /*评论列表*/


        /*评论列表完*/
        function buy() {

            if (checkeLogin()) {

                if (checkeInfo()) {

                    $.ajax({
                        url: "/bookstore/addOrder",
                        type: "post",
                        data: {uid: $("#uid").val(), bid: $("#bid").val(), oocount: $("#BuyCount").val()},
                        dataType: "text",
                        success: function (data) {
                            //goumai成功，跳转成功页面

                            location.href = "/bookstore/order";
                            alert(data);
                        },
                        error: function () {

                        }
                    });
                } else {
                    alert("信息不足，请先补全地址、手机、邮编");
                    location.href = "/bookstore/vip";
                }
            } else {
                location.href = "/bookstore/login";
            }
        }

        function cart() {
            if (checkeLogin()) {
                if (checkeInfo()) {
                    $.ajax({
                        url: "/bookstore/addCart",
                        type: "post",
                        data: {uid: $("#uid").val(), bid: $("#bid").val(), oocount: $("#BuyCount").val()},
                        dataType: "json",
                        success: function (data) {
                            //goumai成功，跳转成功页面
                            if (data.msg != '') {
                                alert("添加购物车成功！");
                            }else {
                                alert("shibai ")
                            }
                        },
                        error: function () {

                        }
                    });
                } else {
                    location.href = "/bookstore/vip";
                }
            } else {
                alert("请先登录");
            }
        }

        //评论
        function comments() {

            $.ajax({
                url: "/bookstore/addComments",
                type: "post",
                data: {
                    uid: $("#uid").val(), uname: uname, bid: $("#bid").val(),
                    cscore: $(".block li").attr("data-default-index"), comments: $(".comments").val()
                },
                dataType: "json",
                success: function (data) {
                    //goumai成功，跳转成功页面
                    if (data.msg == 'success') {
                        alert("评论提交成功");
                    }

                },
                error: function () {
                    alert("error");
                }
            });

        }


        function checkeInfo() {
            var utel = /*[[${session.currUser.utel}]]*/ 'Sebastian';
            var uaddress = /*[[${session.currUser.uaddress}]]*/ 'Sebastian';
            var umailcode = /*[[${session.currUser.umailcode}]]*/ 'Sebastian';
            if (utel != null && uaddress != null && umailcode != null) {

                return true;
            } else {
                alert("请先完善个人信息！");
                location.href = "bookstore/vip.html";
                return false;
            }
        }

        function checkeLogin() {
            var uname = '[[#{session.currUser.uname}]]';
            if (uname != null) {

                return true;
            } else {
                alert("请先登录！");
                location.href = "bookstore/login.html";
                return false;
            }
        }

        function decrNum() {
            var count = $("#BuyCount").val() * 1;
            if (count > 1) {
                count = count - 1;
                $("#BuyCount").val(count);
            }
        }

        function addNum() {
            var count = $("#BuyCount").val() * 1;
            var maxCount = $("#maxCount").text() * 1;
            if (count < maxCount) {
                count = count + 1;
                $("#BuyCount").val(count);
            }
        }

        /*
     * 根据index获取 str
     * **/
        function byIndexLeve(index) {
            var str = "";
            switch (index) {
                case 0:
                    str = "差评";
                    break;
                case 1:
                    str = "较差";
                    break;
                case 2:
                    str = "中等";
                    break;
                case 3:
                    str = "一般";
                    break;
                case 4:
                    str = "好评";
                    break;
            }
            return str;
        }

        //评价字数限制
        function words_deal() {
            var curLength = $("#TextArea1").val().length;
            if (curLength > 140) {
                var num = $("#TextArea1").val().substr(0, 140);
                $("#TextArea1").val(num);
                alert("超过字数限制，多出的字将被截断！");
            } else {
                $("#textCount").text(140 - $("#TextArea1").val().length);
            }
        }

        function allComments() {

            $.ajax({
                url: "/bookstore/findComments",
                type: "post",
                data: {bid: $("#bid").val()},
                dataType: "json",
                success: function (data) {
                    var h5 = "";
                    var star = "";
                    var isBuy = "未购买";
                    if (data != "" && data != null) {
                        for (var i = 0; i < data.length; i++) {
                            star = "";
                            if (data[i].isbuy==true){
                                isBuy= "已购买";
                            }
                            for (var j = 1; j <= data[i].cscore; j++) {
                                star += "<img src=\"img/x2.png\">"
                            }

                            for (var j = 1; j <= 5-data[i].cscore; j++) {
                                star += "<img src=\"img/x1.png\">"
                            }
                            h5 += "<div style=\"width:600px;height: 100px; margin-top: 40px;\">\n" +
                                "                            <li>\n"
                                +"<img src=\"images/head_img.jpg\"/>\n" +
                                " <span class=\"username\" style=\"margin-left: 20px;\">" + data[i].uname + "</span>"+
                                " <span class='isBuy' style=\"margin-left: 20px;\">"+isBuy+"</span>"+
                                "                                <div class=\"head-face\">\n" +
                                "                                    <span>\n" +star+
                             "   </span>\n" +
                            "                                </div>\n" +
                            "                                <div class=\"reply-cont\">\n" +
                            "                                    <p class=\"comment-body\">"+data[i].comments+"</p>\n" +
                            "                                </div>\n" +
                            "                            </li>\n" +
                            "                        </div>"
                        }
                    }
                    $("#allComments").html(h5);
                },
                error: function () {
                    alert("error");
                }
            });
        }


    </script>
</head>

<body>
<div class="mianCont">
    <div class="top">
        <span id="slogan">您好！欢迎来网上书城 请&nbsp;<a href="/bookstore/login">[登录]</a>&nbsp;<a
                href="/bookstore/reg">[注册]</a></span>
        <span class="topRight">
    <a href="/bookstore/vip">个人中心</a>&nbsp;|
    <a href="/bookstore/vipOrder">我的订单</a>&nbsp;|
    <a href="contact.html">联系我们</a>
   </span>
    </div><!--top/-->
    <div class="lsg">
        <h1 class="logo"><a href="/bookstore/index"><img src="/images/logo.png" width="217" height="90"/></a></h1>
        <form action="/keyWordSearch" method="get" class="subBox">
            <div class="subBoxDiv">
                <input type="text" name="bname" class="subLeft"/>
                <input type="submit" src="/images/subimg.png" width="63" height="34" class="sub"/>
                <div class="hotWord">
                    热门搜索：
                    <a href="proinfo.html">人生</a>&nbsp;
                    <a href="proinfo.html">星光的速度</a> &nbsp;
                    <a href="proinfo.html">苏东坡词传</a>&nbsp;
                    <a href="proinfo.html">三体</a> &nbsp;
                    <a href="proinfo.html">五年高考三年模拟</a>&nbsp;
                </div><!--hotWord/-->
            </div><!--subBoxDiv/-->
        </form><!--subBox/-->
        <div class="gouwuche">
            <div class="gouCar">
                <img src="/images/gouimg.png" width="19" height="20" style="position:relative;top:6px;"/>&nbsp;|&nbsp;
                <strong class="red" th:text="${session.cartSize}"></strong>&nbsp;件&nbsp;|
                <strong class="red">￥ <span th:text="${session.cartSum}"></span></strong>
                <a href="/bookstore/order">去结算</a> <img src="/images/youjian.jpg" width="5" height="8"/>
            </div><!--gouCar/-->
            <div class="myChunlv">
                <a href="/bookstore/vip"><img src="/images/mychunlv.jpg" width="112" height="34"/></a>
            </div><!--myChunlv/-->
        </div><!--gouwuche/-->
    </div><!--lsg/-->
    <div class="pnt">
        <div class="pntLeft">
            <h2 class="Title">所有商品分类
                <ul class="InPorNav">
                    <li><a href="/TypeSearch?bookType=network">网络文学</a></li>
                    <li><a href="/TypeSearch?bookType=edu">教育</a></li>
                    <li><a href="/TypeSearch?bookType=novel">小说</a></li>
                    <li><a href="/TypeSearch?bookType=social">人文社科</a></li>
                </ul><!--InPorNav/-->
            </h2>
        </div><!--pntLeft/-->
        <div class="pntRight">
            <ul class="nav">
                <li><a href="/bookstore/index">商城首页</a></li>
                <li><a href="login.html">会员中心</a></li>
                <li><a href="help.html">帮助中心</a></li>
                <div class="clears"></div>
                <div class="phone">TEL：021-12345678</div>
            </ul><!--nav/-->
        </div><!--pntRight/-->
        <div class="clears"></div>
    </div><!--pnt/-->
    <div class="positions">
        当前位置：<a href="index.html">首页</a> &gt; <a href="#" class="posCur">促销商品</a>
    </div><!--positions/-->
    <div class="cont">
        <div class="contLeft">
            <ul class="leftPorNav">
                <li><a href="/TypeSearch?bookType=network">网络文学</a></li>
                <li><a href="/TypeSearch?bookType=edu">教育</a></li>
                <li><a href="/TypeSearch?bookType=novel">小说</a></li>
                <li><a href="/TypeSearch?bookType=social">人文社科</a></li>
            </ul><!--InPorNav/-->
        </div><!--contLeft/-->
        <div class="contRight" style="border:0;">
            <div class="proBox">
                <div id="tsShopContainer">
                    <div id="tsImgS"><a th:href="@{${bookInfo.bpic}}" title="Images" class="MagicZoom"
                                        id="MagicZoom"><img
                            width="300" height="300" th:src="${bookInfo.bpic}"/></a></div>
                    <div id="tsPicContainer">
                        <div id="tsImgSArrL" onclick="tsScrollArrLeft()"></div>
                        <div id="tsImgSCon">
                            <ul>
                                <li onclick="showPic(0)" rel="MagicZoom" class="tsSelectImg"><img height="42" width="42"
                                                                                                  th:src="@{${bookInfo.bpic}}"
                                                                                                  th:tsImgS="${bookInfo.bpic}"/>
                                </li>
                            </ul>
                        </div>
                        <div id="tsImgSArrR" onclick="tsScrollArrRight()"></div>
                    </div>
                    <img class="MagicZoomLoading" width="16" height="16" th:src="${bookInfo.bpic}" alt="Loading..."/>
                    <script src="/js/ShopShow.js"></script>
                </div><!--tsShopContainer/-->
                <div class="proBoxRight">
                    <input type="hidden" name="uid" id="uid" th:value="${session.currUser.uid}">
                    <input type="hidden" name="bid" id="bid" th:value="${bookInfo.bid}">
                    <h3 th:text="${bookInfo.bname}" class="proTitle"></h3>
                    商品编号：<span th:text="${bookInfo.bid}"> </span>
                    <div>会员价：<strong class="red">￥</strong><strong class="red" th:text="${bookInfo.bprice}"></strong>
                    </div>
                    <div>库存剩余：<strong id="maxCount" th:text="${bookInfo.bnum}"></strong> 本</div>

                    <div class="shuliang2">
                        数量：
                        <button type="button" onclick="decrNum();"
                                class="layui-btn layui-btn-sm layui-btn-primary num_action">-
                        </button>
                        <input type="text" readonly="readonly" id="BuyCount" name="oocount" value="1"/>
                        <button type="button" onclick="addNum();"
                                class="layui-btn layui-btn-sm layui-btn-primary num_action">+
                        </button>
                    </div><!--shuliang2/-->
                    <div class="gc">
                        <a href="#" id="buy" onclick="buy();"><img src="/images/goumai.png" width="117"
                                                                   height="36"/></a>
                        <a href="#" id="addCart" onclick="cart();"><img src="/images/shoucang.png" width="117"
                                                                        height="36"/></a>
                    </div><!--gc/-->
                </div><!--proRight/-->
                <div class="clears"></div>
            </div><!--proBox/-->
            <div class="fangPar">
                书籍是一位不会说话但教你知识的老师。<br/>
                书籍是一位可以解除你孤寂的朋友<br/>
                书籍是人类精神的粮食。<br/>
                书籍是传播先进文化的工具 。<br/>
                书籍是一叶扁舟，带你遨游知识的海洋。<br/>
                书籍是一盏灯，照亮着我们前进的路。<br/>
                书籍是翅膀，带我遨游知识的天空。<br/>
                书籍是链条，串连着人类的思想和文明。<br/>
                书籍是阳光，将我们求知的道路照亮。<br/>
                书籍是阶梯，引导我们登上科学的殿堂。<br/>
                书籍是天空，镶嵌着沉重与伟大的历史繁星。<br/>
                书籍是大海，翻滚着辉煌而厚重的文化激流。<br/>
                书籍是大地，蕴含着博大精深的智慧沃土。<br/>
                书籍是北斗星，指明我们求知的方向。<br/>
            </div>


            <div class="fangList">
                <div class="order-evaluation clearfix">
                    <h4>给“<span th:text="${bookInfo.bname}"></span>”的评价</h4>
                    <p>请严肃认真对待此次评价哦！您的评价对我们真的真的非常重要！</p>
                    <div class="block">
                        <ul>
                            <li data-default-index="0">
				<span>
					<img src="img/x1.png">
					<img src="img/x1.png">
					<img src="img/x1.png">
					<img src="img/x1.png">
					<img src="img/x1.png">
				</span>
                                <em class="level"></em>
                            </li>
                        </ul>
                    </div>
                    <div class="order-evaluation-text">
                        本次交易，乖，摸摸头 给您留下了什么印象呢？
                    </div>
                    <div class="order-evaluation-textarea">
                        <textarea name="content" id="TextArea1" class="comments" onKeyUp="words_deal();"></textarea>
                        <span>还可以输入<em id="textCount">140</em>个字</span>
                    </div>
                    <a href="javascript:;" id="order_evaluation" onclick="comments();">评价完成</a>
                    <br/>
                    <br/>
                    <br/>
                    <button onclick="allComments();">《展开书籍评论》</button>
                  <div id="allComments">

                    </div> <!--comments DIV-->
                </div>

                <div id="order_evaluate_modal" class="dmlei_tishi_info"></div>


            </div><!--fangList/-->
        </div><!--contRight/-->
        <div class="clears"></div>
    </div><!--cont/-->
    <div class="inHelp">
        <div class="inHLeft">
            <h4>帮助中心</h4>
            <ul class="inHeList">
                <li><a href="help.html">购物指南</a></li>
                <li><a href="help.html">支付方式</a></li>
                <li><a href="help.html">售后服务</a></li>
                <li><a href="about.html">企业简介</a></li>
                <div class="clears"></div>
            </ul><!--inHeList/-->
        </div><!--inHLeft/-->
        <div class="inHLeft">
            <h4>会员服务</h4>
            <ul class="inHeList">
                <li><a href="reg.html">会员注册</a></li>
                <li><a href="login.html">会员登录</a></li>
                <li><a href="order.html">购物车</a></li>
                <li><a href="order.html">我的订单</a></li>
                <div class="clears"></div>
            </ul><!--inHeList/-->
        </div><!--inHLeft/-->
        <div class="inHRight">
            <h4>全国统一免费服务热线</h4>
            <div class="telBox">400-0000-0000</div>
            <div class="weibo">
                <!--                <wb:follow-button uid="2991975565" type="red_1" width="67" height="24"></wb:follow-button>-->
            </div>
        </div><!--inHRight/-->
        <div class="clears"></div>
    </div><!--inHelp/-->
    <div class="footer">
        <p>
            <a href="#">进入17官网</a>&nbsp;|&nbsp;
            <a href="index.html">商城首页</a>&nbsp;|&nbsp;
            <a href="product.html">促销中心</a>&nbsp;|&nbsp;
            <a href="order.html">我的订单</a>&nbsp;|&nbsp;
            <a href="new.html">新闻动态</a>&nbsp;|&nbsp;
            <a href="login.html">会员中心</a>&nbsp;|&nbsp;
            <a href="help.htmll">帮助中心</a>
        </p>
        <p>
            版权所有：上海17实业有限公司 版权所有 Copyright 2010-2015 沪ICP备00000000号 <a href="http://www.mycodes.net/" target="_blank">源码之家</a>
        </p>
    </div><!--footer/-->
</div><!--mianCont/-->
<a href="#" class="backTop">&nbsp;</a>
</body>
</html>
