<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>网上书城</title>
    <link type="text/css" href="/css/css.css" rel="stylesheet"/>

</head>

<body style=" background:#FFF;">
<div class="loginLogo">
    <div class="logoMid">
        <h1 class="logo" style="height:71px;padding-top:10px;"><a href="index.html"><img src="/images/loginLogo.jpg"
                                                                                         width="241" height="71"/></a>
        </h1>
        <div class="loginReg">
            ?已有会员账号?&nbsp;<a href="login.html">登录</a>
        </div><!--loginReg/-->
    </div><!--logoMid/-->
</div><!--loginLogo/-->
<div class="loginBox">
    <img src="/images/chengnuo.jpg" width="295" height="393" class="chengnuo"/>
    <form id="registerForm" action="/doReg"  class="reg">
        <div class="regList">
            <label><span class="red">*</span> 账户名</label>
            <input name="uname" id="username" type="text"/> <span id="s_username"
                                                                     style="color:#999;">请输入邮箱/用户名/手机号</span>
        </div><!--regList/-->
        <div class="regList">
            <label><span class="red">*</span> 请设置密码</label>
            <input id="password" name="upass" type="password"/>
        </div><!--regList/-->
        <div class="regList">
            <label><span class="password">*</span> 请确认密码</label>
            <input id="password2" type="text"/>
        </div><!--regList/-->
        <div class="regList">
            <label><span class="tel">*</span> 手机号</label>
            <input id="tel"name="utel" type="text"/>
        </div><!--regList/-->
        <div class="regList">
            <label><span class="red">*</span> 邮箱</label>
            <input id="email" name="uemail" type="text"/>
           <!-- <input type="text" class="yanzheng"/><img src="images/yanzheng.jpg" width="103" height="38"/>-->
        </div><!--regList/-->
        <div class="xieyi">
            <input type="checkbox"/> 我已经阅读并同意<a href="#">《17用户注册协议》</a>
        </div><!--xieyi/-->
        <div class="reg">
            <input id="enter" type="image" src="/images/reg.jpg" width="284" height="34"/>
        </div><!--reg/-->

        <div id="errorMsg" class="regList"> </div>
    </form><!--reg/-->
    <div class="clears"></div>
</div><!--loginBox/-->
</body>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/js.js"></script>
<script type="text/javascript" src="/js/jsonHandler.js"></script>

<script>

    $(function () {

        $("#registerForm").submit(function () {
            console.info("进入了工厂确定函数");
            //1.发送数据到服务器
            var strdata = $("#registerForm").serializeObject();
            var str = JSON.stringify(strdata);
            alert(str);
            console.info("name"+checkUsername());
            console.info("tel"+checkTel());
            console.info("same"+doubleCheck());
            console.info("email"+checkEmail());
            console.info("pass"+checkPassword());

            if (checkTel()&&checkPassword()&&checkUsername()&&checkEmail()){
                console.info("校验五个测试通过");
                $.ajax({
                    url:"/doReg",
                    contentType:"application/json;charset=UTF-8",
                    type:"post",
                    data:str,
                    dataType:"json",
                    success:function (data) {
                        //注册成功，跳转成功页面
                        if (data){
                            console.info("跳转index");
                            location.href="index.html";
                        }
                    },
                    error:function(){
                        console.info("Error");
                    }
                });
            }
            //2.不让页面跳转
            return false;
            //如果这个方法没有返回值，或者返回为true，则表单提交，如果返回为false，则表单不提交
        });

        $("#username").blur(checkUsername);
        $("#username").blur(checkUnameRepeat);
        $("#password").blur(checkPassword);
        $("#password2").blur(doubleCheck);
        $("#email").blur(checkEmail);


        function checkUsername() {
            //1.获取用户名
            var username = $("#username").val();
            //2.定义正则
            var reg_uname = /[A-Za-z0-9_\-\u4e00-\u9fa5]+/;
            //3.判断，给出提示
            var flag = reg_uname.test(username);
            //3.判断
            if (!flag) {
                $("#username").css("border", "1px solid red");
                return false;
            } else {
                $("#username").css("border", "");
                return true;
            }
        }
        function checkTel() {
            //1.获取账号的值
            var utel = $("#tel").val();
            //2.定义正则
            var reg_tel = /^1[3456789]\d{9}$/;
            //3.判断，给出提示
            var flag = reg_tel.test(utel);
            if (flag) {
                $("#ErrorTel").text("");
            } else {
                $("#ErrorTel").text("内容错误");
            }
            return flag;
        }

        //校验密码
        function checkPassword() {
            //1.获取密码值
            var password = $("#password").val();
            //2.定义正则
            var reg_password = /^\w{3,20}$/;
            //3.判断，给出提示信息
            var flag = reg_password.test(password);
            if (flag) {
                //密码合法
                $("#password").css("border", "");
            } else {
                //密码非法,加一个红色边框
                $("#password").css("border", "1px solid red");
            }
            return flag;
        }
        //检查两次密码一样
        function doubleCheck() {
            var password1 = $("#password").val();
            var password2 = $("#password2").val();
            if (password1==password2){
                $("#password").css("border", "");
                $("#password2").css("border", "");
                return true;
            }else {
                $("#password").css("border", "1px solid red");
                $("#password2").css("border", "1px solid red");
                return false;
            }
        }

        //校验邮箱
        function checkEmail() {
            //1.获取邮箱
            var email = $("#email").val();
            //2.定义正则
            var reg_email = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
            //3.判断
            var flag = reg_email.test(email);
            if (flag) {
                $("#email").css("border", "");
            } else {
                $("#email").css("border", "1px solid red");
            }
            return flag;
        }
        
        function checkUnameRepeat() {
                /*$.post("/checkDouble", {
                    uname: $("#username").val()
                }, function(data) {
                if (data.msg == 'yes'){ //yes代表存在重名
                    alert("重复！");
                    $("#s_username").html("<span color='red' style='font-size: 12px;'>已存在用户名</span>");
                    flag = false;
                    $("#enter").attr('disable',true);
                } else {
                    $("#enter").attr('disable',false);
                    flag = true;
                }
            });*/
            $.ajax({
                url:"/checkDouble",
                contentType:"application/json;charset=UTF-8",
                type:"post",
                data:{uname:$("#username").val()},
                dataType:"text",
                success:function (data) {
                    //注册成功，跳转成功页面
                    if (data.msg=="yes"){
                        $("#enter").attr('disable',false);
                        $("#s_username").html("<span color='red' style='font-size: 12px;'>已存在用户名</span>");
                    }else{
                        $("#enter").attr('disable',false);
                    }
                },
                error:function(){
                    console.info("Error");
                }
            });
        }

    } )

</script>
</html>
