<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>后台管理系统</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="/css/style.css">
 <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
<!--[if lt IE 9]>
    <script src="/js/html5.js"></script>
    <![endif]-->
<script src="/js/jquery.js"></script>
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
 <script src="/js/cookie.js"></script>
 <script src="/js/base.js"></script>
 <script src="/layui/layui.js"></script>
 <script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="lock">冻结</a>
  <a class="layui-btn layui-btn-xs" lay-event="unlock">解冻</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
 </script>
 <script type="text/javascript" th:inline="javascript">
  layui.use('table', function (){
   var table = layui.table;
   table.render({
    elem: '#userTable'
    ,url:'/admin/allUser'
    ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
    ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
    }],
    title: '书本信息表'
    ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
     layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
     //,curr: 5 //设定初始在第 5 页
     ,groups: 1 //只显示 1 个连续页码
     ,first: false //不显示首页
     ,last: false //不显示尾页
    }, cols: [
     [
      {field: 'uid', width: 100, title: '用户ID', sort: true}
      , {field: 'uname',  title: '用户名'}
      , {field: 'ugender', width: 100, title: '性别'}
      , {field: 'uaddress', width: 180, title: '地址'}
      , {field: 'uemail', width: 180, title: '邮箱'}
      , {field: 'umailcode', width: 80, title: '邮编'}
      , {field: 'utel', width: 180, title: '手机号'}
      , {fixed: 'right',width: 200, title: '操作', toolbar: '#barDemo'}
     ]
    ]
    , page: true
   });
   //监听行工具事件
   table.on('tool(test)', function(obj){
    if(obj.event === 'del'){
     layer.confirm('真的删除么', function(index){
      del(obj.data.uid);
      layer.close(index);
     });
    }

    else if(obj.event === 'lock'){
     layer.confirm('真的要冻结么', function(index){
      /*冻结*/

      layer.close(index);
     });
    }

    else if(obj.event === 'unlock'){
     layer.confirm('真的要解冻么', function(index){
      /*解冻*/
      layer.close(index);
     });
    }


   });
  });

  /////删除书籍
  function del(bid) {
   $.ajax({
    url: "/delUser",
    type: "post",
    data: {bid: bid},
    dataType: "text",
    success: function (data) {
     if (data != null && data != "") {
      alert("删除成功！");
      location.href = "/findAllBook";
     } else {
      alert("删除失败！");
     }
    },
    error: function () {
     alert("后台错误");
    }
   });//ajax完

  }
 </script>
</head>
<body>
<!--header-->
<header>
 <h1><img src="/images/admin_logo.png"/></h1>
 <ul class="rt_nav">
  <li><a href="#" target="_blank" class="website_icon">站点首页</a></li>
  <li><a href="#" class="clear_icon">清除缓存</a></li>
  <li><a th:text="${session.mname}" class="admin_icon"></a></li>
  <li><a href="#" class="set_icon">账号设置</a></li>
  <li><a href="login.html" onclick="return logout()" class="quit_icon">安全退出</a></li>
 </ul>
</header>
<!--aside nav-->
<!--aside nav-->
<aside class="lt_aside_nav content mCustomScrollbar">
 <h2><a href="index.html">后台中心</a></h2>
 <ul>
  <li>
   <dl>
    <dt>商品信息</dt>
    <!--当前链接则添加class:active-->
    <dd><a href="/findAllBook">商品检索管理</a></dd>
    <dd><a href="/addPage">上架新商品</a></dd>
    <dd><a href="/admin/comment_list">评价管理</a></dd>
    
   </dl>
  </li>
  
  <li>
   <dl>
    <dt>订单信息</dt>
    <dd><a href="/admin/order_list">订单管理</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>会员信息</dt>
    <dd><a href="/admin/user_list" class="active">会员列表</a></dd>
   </dl>
  </li>

  <li>
   <p class="btm_infor">©1606401-13 YeXing</p>
  </li>
 </ul>
</aside>
<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">会员列表</h2>
      </div>
  <table class="layui-hide" id="userTable" lay-filter="test"></table>
 </div>
</section>
</body>
</html>
